@font-face {
font-family: "IBM Plex Mono Bold";
src: url("/font/IBMPlexMono-Bold.ttf");
}

@font-face {
font-family: "IBM Plex Mono Regular";
src: url("/font/IBMPlexMono-Regular.ttf");
}

:root {
    --font-family: "IBM Plex Mono, sans-serif";
}
body {
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navigation button {
   color: #ff0070;
   font-size: 18px;
   border: none;
   background-color: transparent;
   padding: 0 13px;
   padding-top: 20px;
   width: 70;
   height: 26px;
}

.title {
    position: absolute;
    top: 319px;
    width: 759px;
    height: 130px;
    font-family: 'IBM Plex Mono Bold';
    font-weight: bold;
    font-size: 157px;
    line-height: 129.53px;
    color: #DB00FF;
    margin: 0px;
    text-shadow: 4px 4px 0px #FF0070;
}

.header{ 
    width: 1024px; 
    height: 768px; 
    background-image: url("https://s3-alpha-sig.figma.com/img/dfd0/bdda/b7b566964fd701840768cd9eecd5ea42?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ADGkT7zF6jvk3rAiHXP3HkgCPUyxNV-gNgc9WULpkx5gOGcDsVOESATml~WECKtjIS-3F1C2OEt5UvHm9RRk8dVd-UXPErUwoJrtVg2bGKE7CFIPmP5x1hUVfjt-LBPZGS~QggWyIF3JhKH78W~PEsxPby25jChChFv2MTv8c7vZ1Ft5a2ZrjgqWpd7zWsRVsjINMk4fsv2UCJxoeCwcEYD4YGyd43wMuBK7p5wUAB8tdCgjGi6aXSvRHRnz~N4kUcPyGTxL5sFLVJq9yqTXHDwSSoPJpgsOzdyf2cN~rv2KbakKVOXB2Wm2gFHoShr6Mn4eg9uXxz21-JhqdrkP1g__");
}

.paragraph {
    position: relative;
    top: 563px;
    left: 513px;
    right: 20px;
    bottom: 134px;
    width: 491px;
    height: 71px;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-size: 18px;
    line-height: 23.4px;
    background-color: #FF0070;
    color: #000028;
}

.paragraph > p {
    font-family: "IBM Plex Mono Bold";
    font-size: 18px;
    color: #000028;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
    padding: 0;
}

.rectangle1 {
    position: absolute ;
    top: 723px;
    left: 20px;
    margin: 0px;
    width: 25px;
    height: 25px;
    max-width: 25px;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #FF0070;
}

.rectangle2 {
    position:absolute;
    top: 20px;
    left: 979px;
    margin: 0px;
    width: 25px;
    height: 25px;
    max-width: 25px;
    border-width: 1px 1px 0px 0px ;
    border-style: solid;
    border-color: #FF0070;
}

.circle {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 28px;
    left: 986px;
    background: #FF0070;
    border-radius: 100%;

    box-shadow: 0 0 4px 2px #ff0070;

}

.rectxt {
    position: absolute;
    width: 33px;
    height: 26px;
    left: 943px;
    top: 22px;
    margin: 0px;
    font-family: 'IBM Plex Mono Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FF0070;
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 984px;
    height: 558px;
    padding: 0px 20px;
    background: #000028;
}

.main.div {
    position: relative;
    display: flex;
    flex-direction: row;
}

.why {
    font-family: "IBM Plex Mono Bold";
    color: #ff0070;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    padding: 0 20px;
    width: 315px;
    height: 47px;
}

.firsttext {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    right: 0;
    margin: 0;
    padding: 0 20px;
    width: 649px;
    height: 23px;
}

.firstheader {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 631px;
    height: 23px;
    right: 20.19px;
    left: 0;
    top: 0px;
    padding: 0;
    margin: 0;
    
    font-family: 'IBM Plex Mono Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background-color: #FF0070;
    
    color: #000028;

}

.paragraphtext1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 648.92px;
    height: 211px;
    right: 20.19px;
    top: 18px;
    left: 0;

    font-family: 'IBM Plex Mono Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #F1B2CE;
}

.secondtext {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    right: 0;
    margin: 0;
    padding: 0 20px;
    width: 649px;
    height: 23px;
}
 .secondheader {
    position: absolute;
    font-family: "IBM Plex Mono Bold";
    font-weight: 700;
    font-size: 18px;
    left: 0;
    top: 264px;
    line-height: 23px;
    width: 649px;
    height: 23px;
    color: #000028;
    background: #ff0070;
}

.paragraphtext2 {
    position: absolute;
    font-family: "IBM Plex Mono Regular";
    font-weight: 400;
    font-size: 18px;
    width: 649px;
    height: 229px;
    left: 0px;
    top: 297px;
    color: #F1B2CE;
}

.link {
    color: #f1b2ce;
    text-shadow: 2px 2px #ff0070;
    text-decoration: none;
}