@font-face {
font-family: "IBM Plex Mono Bold";
src: url("/font/IBMPlexMono-Bold.ttf");
}

@font-face {
font-family: "IBM Plex Mono Regular";
src: url("/font/IBMPlexMono-Regular.ttf");
}

:root {
    --font-family: "IBM Plex Mono, sans-serif";
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navigation button {
   color: #ff0070;
   font-size: 18px;
   border: none;
   background-color: transparent;
   padding: 0 13px;
}

.title {
   color: #db00ff;
   font-family: "IBM Plex Mono Bold";
   font-size: 157px;
   font-weight: bold;
   line-height: 129.53px;
   text-shadow: 4px 4px 0 #ff0070;
}

.header{ 
    width: 1024px; 
    height: 768px; 
    background-image: url("https://s3-alpha-sig.figma.com/img/dfd0/bdda/b7b566964fd701840768cd9eecd5ea42?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ADGkT7zF6jvk3rAiHXP3HkgCPUyxNV-gNgc9WULpkx5gOGcDsVOESATml~WECKtjIS-3F1C2OEt5UvHm9RRk8dVd-UXPErUwoJrtVg2bGKE7CFIPmP5x1hUVfjt-LBPZGS~QggWyIF3JhKH78W~PEsxPby25jChChFv2MTv8c7vZ1Ft5a2ZrjgqWpd7zWsRVsjINMk4fsv2UCJxoeCwcEYD4YGyd43wMuBK7p5wUAB8tdCgjGi6aXSvRHRnz~N4kUcPyGTxL5sFLVJq9yqTXHDwSSoPJpgsOzdyf2cN~rv2KbakKVOXB2Wm2gFHoShr6Mn4eg9uXxz21-JhqdrkP1g__");
}

.paragraph {
    position: absolute;
    bottom: 135px;
    right: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    width: 491px;
    height: 71px;
    background: #ff0070;
}

.paragraph > p {
    font-family: "IBM Plex Mono Bold";
    font-size: 18px;
    color: #000028;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
    padding: 0;
}

.rec.button {
    position: absolute;
    top: 20px;
    right: 20px;
    border-top: 1px solid #ff0070;
    border-right: 1px solid #ff0070;
    width: 25px;
    height: 25px;
}

.rec.button.text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid #ff0070;
    border-left: 1px solid #ff0070;
    width: 25px;
    height: 25px;

}

.lamp {
position: relative;
top: 7px;
right: -8px;
width: 9px;
height: 9px;
border-radius: 50%;
background-color: #ff0070;
box-shadow: 0 0 4px 2px #ff0070;
}

.lamp.text {
    font-family: "IBM Plex Mono Regular";
    width: 52px;
    height: 26px;
    font-size: 18px;
    color: #ff0070;
    margin: 0;
    padding: 0;
    top: 20px;
    right: 29px;
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 984px;
    height: 768px;
    padding: 0px 20px;
    background: #000028;
}

.why {
    font-family: "IBM Plex Mono Bold";
    color: #ff0070;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    padding: 0 20px;
}

.first.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 649px;
    height: 23px;
    background: #ff0070;
}

.first.text.header {
    font-family: "IBM Plex Mono Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
}

.second.header {
    font-family: "IBM Plex Mono Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
}

.first.paragraph {
    font-family: "IBM Plex Mono Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #f1b2ce;
}